---
---

@import "{{ site.theme }}";

.inner {
  max-width: 725px;
}

#main_content_wrap {
  min-height: calc(100vh - 255px);
}

#header_wrap .inner {
  padding: 10px;
}

header {
  img {
    border: 0;
    box-shadow: none;
    margin-bottom: -15px;
  }
  
  h1 {
    a {
      color: white !important;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

