---
---

@import "{{ site.theme }}";

.inner {
  max-width: 725px;
}

header {
  img {
    border: 0;
    box-shadow: none;
  }
  
  h1 {
    a {
      color: white !important;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

